<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Oauth2</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
</head>
<body>
<form th:action="@{/login}" method="POST">
    <h1>Oauth2</h1>
    <img th:src="@{${imageUrl}}" alt=""/>
    <p>username: <b th:text="${username}"></b></p>
    <a href="/logout">Logout</a>
</form>
</body>
</html>